<mat-card *ngIf="!!person || !!isNewMode" class="p-4">
  <h2 class="m-0 p-0" *ngIf="!!title">{{ title }}</h2>
  <hr class="w-20 my-2" />
  <div class="w-100 mt-2">
    <form [formGroup]="personForm" class="row my-2">
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Name</mat-label>
        <input matInput [readonly]="isDetailMode" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Age</mat-label>
        <input matInput [readonly]="isDetailMode" formControlName="age" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Birthday</mat-label>
        <input matInput [readonly]="isDetailMode" [matDatepicker]="picker" formControlName="birthday" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [disabled]="isDetailMode"></mat-datepicker>
      </mat-form-field>

      <hr class="text-center w-100" />
    </form>

    <div class="row justify-content-between align-items-center w-100">
      <button *ngIf="displayBackButton" type="button" mat-button color="accent" class="col-1 mx-3" (click)="back()">
        <div class="d-flex flex-row justify-content-center align-items-center">
          <mat-icon>chevron_left</mat-icon>
          <p class="m-0 mx-3">Back</p>
        </div>
      </button>

      <button
        *ngIf="isEditMode || isNewMode"
        type="button"
        mat-raised-button
        color="accent"
        class="submit-button col-2"
        (click)="dispatchFormsubmitAction()">
        <div class="d-flex flex-row justify-content-center align-items-center">
          <edv-loader [isLoading]="isLoading" displayMode="default"></edv-loader>
          <mat-icon *ngIf="!isLoading" class="ms-3">{{ submitIconLabel }}</mat-icon>
          <p class="m-0 mx-3">{{ submitLabel }}</p>
        </div>
      </button>
    </div>
  </div>
</mat-card>
